/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	header{
    padding: 10px 0 ;
}  
      /* banner start */
      .banner {
	margin: 30px 0;
}
  
     .conainer2 {
	width: 100%;	
}
       .b_content h1 {
    font-size: 28px !important;
    line-height: 35px !important;
}
.b_img{
	width: 70% !important;

}
/* feature start*/
.freture {
	padding: 40px 0 ;
}
.f_left {
	padding: 0 0 0 5px;
   width: 47%; 
}
.f_left p{
	margin: 5px 0 0;
	font-size: 12px;
	line-height: 20px;
}
.f_right {
   width: 47%;
}
.f_right h1{
	font-size: 25px;
}
	
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
      header{
    padding: 10px 0 ;
}  
     /* banner start */
      .banner {
	margin: 40px 0;
}
    
     .conainer2 {
	width: 90%;	
}
       .b_content h1{
    font-size: 30px;
    line-height: 40px;
}
.b_img{
	width: 70%;

}
/* feature start*/
.freture {
	padding: 40px 0 ;
}
.f_left {
	padding: 0 0 0 15px;
   width: 47%; 
}
.f_right {
   width: 47%;
}
.f_right h1{
	font-size: 35px;
}

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
     header{
    padding: 10px 0 ;
}  
/* banner start */
      .banner {
	margin: 40px 0;
}
     .conainer2 {
	width: 70%;	
}
       .b_content h1{
    font-size: 50px;
    line-height: 60px;
}
/* feature start*/
.f_left {
   padding: 0 0 0 20px;

}
.f_right {
   padding: 0 0px 0 0;
   width: 50%;
}
.f_right h1{
	font-size: 40px;
}
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	/* banner start */
      .banner {
	margin: 40px 0;
}
     .conainer2 {
	width: 70%;	
}
       .b_content h1{
    font-size: 60px;
    line-height: 70px;
}
/* feature start*/
.f_right {
   padding: 0 20px 0 0;
   width: 45%;
}
.f_right h1{
	font-size: 40px;
}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	.conainer2 {
	width: 70%;	
}

}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {
	.conainer2 {
	width: 70%;	
}
       .b_content h1{
    font-size: 65px;
    line-height: 80px;
}
	
}
